:root{
    --primary-color: #3498db;
    --Black: #222;

}


body{
    margin: 0;
    background-color: #f5f1f194;
    font-family: "Unbounded", sans-serif;
    padding: 0;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0, 2, 5, rgb(0, 0, 0, 0.1);

}

.logo{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--Black);
}

nav a{
    margin-left: 1.5rem;
    text-decoration: none;
    color: var(--Black);
    font-weight: 450;
    font-size: 0.9rem;
}

nav a:hover{
    color: var(--primary-color);
}


.quien{
    padding: 5rem 2.5rem ;
    text-align: justify;
    
}

.banner {
  width: 100%;
  height: 450px;         
  margin: 0;
  padding: 0;
  overflow: hidden;      
}

.img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;     
  object-position: center center; 
  display: block;        
}

.bibliography{
    padding: 1rem 2.5rem ;
    text-align: justify;
    
}

.messi{
    width: 25rem;
    display: block;
    margin: 2rem auto;
    border-radius: 10px;
}

.statistics {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

.statistics h4 {
  font-size: 1.8rem;
  color: #222;
  margin-bottom: 1.5rem;
}

.tabla-messi {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}

.tabla-messi thead {
  background-color: #003366;
  color: white;
}

.tabla-messi th,
.tabla-messi td {
  padding: 1rem;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
}

.tabla-messi tbody tr:hover {
  background-color: #f0f8ff;
  transition: 0.3s;
}

.tabla-messi td:first-child {
  font-weight: bold;
  color: #003366;
}

.achievements {
  padding: 4rem 2rem;
  text-align: center;
}

.achievements h4 {
  font-size: 1.8rem;
  color: #222;
  margin-bottom: 1.5rem;
}

.lista-logros {
  list-style: none;             
  padding: 0;
  max-width: 600px;
  margin: 0 auto;

}

.footer {
  background-color: #003366;
  color: white;
  padding: 1.5rem 0;
  text-align: center;
  /* margin-top: 2rem; */
}

.footer-content p {
  margin: 0;
  font-size: 1rem;
}

.redes {
  margin-top: 0.8rem;
}

.redes a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.redes a:hover {
  color: #ffcc00;
  text-decoration: underline;
}
